    .nav_bar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav_logo{
        width: 40%;
        height: 100%;
        text-align: center;
        align-content: center;

            & div{
                color: black;
                font-size: 2rem;
                text-decoration: underline;
                cursor: pointer;
            }
    }

    .logo_box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

            & .map_icon{
                width: 50px;
            }
    }

    .nav_btns{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

            & div{
                color: black;
                font-size: 1.3rem;
                transition: all .2s ease;
                cursor: pointer;

                    &:hover{
                        transform: translateY(5px);
                    }
            }

            & .chosen{
                text-decoration: underline;
            }
    }