    .gener_btn{
        width: 300px;
        height: 50px;
        background: none;
        border: none;
        border-bottom: 2px solid white ;
        border-left: 2px solid white ;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 1rem;
        color: white ;
        transition: all .2s ease;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.4rem;

            &:hover{
                transform: scale(1.1);
            }
    }