.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  background: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header{
  display: flex;
  height: 100px;
  width: 100vw;
  background: none;
  top: 0;
}

.main {
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 100px;
  background: none;
  position: relative;
  padding: 30px;
}

.travel_info{
  width: 20%;
  height: 60%;
  position: fixed;
  right: 200px;
  bottom: calc(30% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: flex-end;
  position: relative;
}

.span_box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#country_span{
  color: red;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  

}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
